@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Kalimati';
    src: url('../fonts/Kalimati.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
